.headerContainer {
    width: 100;
    height: 120px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding-right: 1rem;
    padding-left: 1rem;
}

.logo {
    align-items: right;
    justify-content: right;
}

.headerContainer img {
    width: 150px;
    height: 90%;
}



